extends layout.pug  
block content
  h1 FAQS(Frequently Asked Questions)
#accordionExample
.accordion-item
h2#headingOne.accordion-header
button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne') Where can I find updates about the site?
#collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
.accordion-body
| You can find updates for the site, by visiting  the blog at: 
button.btn-primary
a(href='bigboss424.github.io/cogswebdevblog') Cogs Web Dev Blog
.accordion-item
h2#headingTwo.accordion-header
button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo') 
#collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
.accordion-body

.accordion-item
h2#headingThree.accordion-header
button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='true' aria-controls='collapseThree') What's the best means of communication?
#collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
.accordion-bodyb
| The best means of communication comes from from contacting us via the contact page: 
button.btn-primary 
a(href='/contact') Contact

