extends layout.pug 

block content
	main(role="main")
		.jumbotron
			.container
				h1.display-3 Cogs Web Development and Hosting
				p
				| Welcome to the official website of Cogs Web Development and Hosting. While this site is progressively being worked on, updates will be periodically added to the blog
				p
					a.btn.btn-primary.btn-lg(href='https://bigboss424.github.io/cogswebdevblog' role='button') Blog
	.container
		.row
			.col-md-4
				h2 About
				p
				| Cogs Web Development and Hosting is sole proprietorship business, that specializes in a variety of services. Primarily focused on web development and hosting services that are provided to other businesses. Find out more by clicking the link below.
				p
					a.btn.btn-secondary(href='/about' role='button') About »	
			.col-md-4
				h2 Services
				p 
				| At Cogs Web Development and Hosting, the services that we provided range from IT services such as desktop/laptop repair services to website development and hosting of said website. Click the link below to find out more. 
				P
					a.btn.btn-secondary(href='/services' role='button') Services »						
			.col-md-4
				h2 Contact
				p 
				| Feel free to contact us, via the link below. 
				p
					a.btn.btn-secondary(href='/contact' role='button') Contact »
