extends layout.pug
block content
    style.
        h1{
        text-align: center;
        text-decoration: bold;
        }

    h1 About Us

    p
        | Cogs Web Development and Hosting was founded in 2017 and is starting to help people, entrepeneurs, and small businesses, while developing software and web applications to expand it's own network. Cogs Web Development and Hosting offers a wide variety of services and tools to help online users with their needs.
    p
        | Cogs Web Development and Hosting also provides a variety of IT related services in order to help customers with their hardware needs. Services Ranging from laptop repair to desktop repair. You can find more information about these services at the following link:
    a.btn.btn-secondary(href='/services' role='button') Services

