doctype html
html(lang='en')
    head
        title Cogs Web Development and Hosting
        link(href='stylesheets/bootstrap.css' rel='stylesheet')
        link(href='stylesheets/jumbotron.css' rel='stylesheet')
    body
        nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
            a.navbar-brand(href='/') Cogs Web Development and Hosting
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/') Home 
                    li.nav-item
                        a.nav-link(href='/about') About
                    li.nav-item
                        a.nav-link(href='/contact') Contact
                    li.nav-item
                        a.nav-link(href='/services') Services
                    li.nav-item
                        a.nav-link(href='/features') Features
                    li.nav-item
                        a.nav-link(href='/pricing') Pricing
                    li.nav-item
                        a.nav-link(href='/faqs') FAQs
        .container
            block content
            hr
            footer.container.py-3.my-4
                ul.nav.justify-content-center.border-bottom.pb-3.mb-3
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/about') About   
                    li.nav-item 
                        a.nav-link(href='/contact') Contact
                    li.nav-item
                        a.nav-link(href='/services') Services
                    li.nav-item
                        a.nav-link(href='/features') Features
                    li.nav-item
                        a.nav-link(href='/pricing') Pricing
                    li.nav-item
                        a.nav-link(href='/faqs') FAQs
            
                   
                p.text-center © 2022 Cogs Web Development and Hosting
